In [1]:
import pickle as pkl
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA, NMF

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import PowerTransformer

from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.svm import NuSVC

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss


from pprint import pprint

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import os

os.getcwd()

'C:\\Users\\josep'

In [4]:
with open("C:\\Users\\josep\\ud120-projects_modified for 3\\final_project\\final_project_dataset.pkl", "r") as data_file:
    data_dict = pkl.load(data_file)

In [5]:
# make a pandas dataframe to explore

enron_df = pd.DataFrame.from_dict(data_dict,orient='index')

In [6]:
# check the data structure

enron_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
salary                       146 non-null object
to_messages                  146 non-null object
deferral_payments            146 non-null object
total_payments               146 non-null object
exercised_stock_options      146 non-null object
bonus                        146 non-null object
restricted_stock             146 non-null object
shared_receipt_with_poi      146 non-null object
restricted_stock_deferred    146 non-null object
total_stock_value            146 non-null object
expenses                     146 non-null object
loan_advances                146 non-null object
from_messages                146 non-null object
other                        146 non-null object
from_this_person_to_poi      146 non-null object
poi                          146 non-null bool
director_fees                146 non-null object
deferred_income              146 non-null object
long_term_incentive          146 non-null object
email_address                146 non-null object
from_poi_to_this_person      146 non-null object
dtypes: bool(1), object(20)
memory usage: 24.1+ KB

146 Total entries.  21 total features (columns)

In [7]:
# Checking the dataset

enron_df.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955,2902,2869717,4484442,1729541,4175000,126027,1407,-126027,1729541,...,NaN,2195,152,65,False,NaN,-3081055,304805,phillip.allen@enron.com,47
BADUM JAMES P,NaN,NaN,178980,182466,257817,NaN,NaN,NaN,NaN,257817,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,4046157,NaN,1757552,465,-560222,5243487,...,NaN,29,864523,0,False,NaN,-5104,NaN,james.bannantine@enron.com,39
BAXTER JOHN C,267102,NaN,1295738,5634343,6680544,1200000,3942714,NaN,NaN,10623258,...,NaN,NaN,2660303,NaN,False,NaN,-1386055,1586055,NaN,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,145796,NaN,-82782,63014,...,NaN,NaN,69,NaN,False,NaN,-201641,NaN,frank.bay@enron.com,NaN

In [8]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Convert dictionary to DataFrame

enron_df = pd.DataFrame.from_dict(data_dict, orient = 'index', dtype = float)

# reorganize columns

enron_df = enron_df[
['salary',
'bonus',
'long_term_incentive',
'deferred_income',
'deferral_payments',
'loan_advances',
'other',
'expenses',
'director_fees',
'total_payments',
 'exercised_stock_options',
'restricted_stock',
 'restricted_stock_deferred',
 'total_stock_value',
 'email_address',
 'to_messages',
 'shared_receipt_with_poi',
 'from_messages',
 'from_this_person_to_poi',
 'poi',
 'from_poi_to_this_person']]

In [9]:
# Check the dataset

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

enron_df

,salary,bonus,long_term_incentive,deferred_income,deferral_payments,loan_advances,other,expenses,director_fees,total_payments,exercised_stock_options,restricted_stock,restricted_stock_deferred,total_stock_value,email_address,to_messages,shared_receipt_with_poi,from_messages,from_this_person_to_poi,poi,from_poi_to_this_person
ALLEN PHILLIP K,201955.000,4175000.000,304805.000,-3081055.000,2869717.000,nan,152.000,13868.000,nan,4484442.000,1729541.000,126027.000,-126027.000,1729541.000,phillip.allen@enron.com,2902.000,1407.000,2195.000,65.000,0.000,47.000
BADUM JAMES P,nan,nan,nan,nan,178980.000,nan,nan,3486.000,nan,182466.000,257817.000,nan,nan,257817.000,NaN,nan,nan,nan,nan,0.000,nan
BANNANTINE JAMES M,477.000,nan,nan,-5104.000,nan,nan,864523.000,56301.000,nan,916197.000,4046157.000,1757552.000,-560222.000,5243487.000,james.bannantine@enron.com,566.000,465.000,29.000,0.000,0.000,39.000
BAXTER JOHN C,267102.000,1200000.000,1586055.000,-1386055.000,1295738.000,nan,2660303.000,11200.000,nan,5634343.000,6680544.000,3942714.000,nan,10623258.000,NaN,nan,nan,nan,nan,0.000,nan
BAY FRANKLIN R,239671.000,400000.000,nan,-201641.000,260455.000,nan,69.000,129142.000,nan,827696.000,nan,145796.000,-82782.000,63014.000,frank.bay@enron.com,nan,nan,nan,nan,0.000,nan
BAZELIDES PHILIP J,80818.000,nan,93750.000,nan,684694.000,nan,874.000,nan,nan,860136.000,1599641.000,nan,nan,1599641.000,NaN,nan,nan,nan,nan,0.000,nan
BECK SALLY W,231330.000,700000.000,nan,nan,nan,nan,566.000,37172.000,nan,969068.000,nan,126027.000,nan,126027.000,sally.beck@enron.com,7315.000,2639.000,4343.000,386.000,0.000,144.000
BELDEN TIMOTHY N,213999.000,5249999.000,nan,-2334434.000,2144013.000,nan,210698.000,17355.000,nan,5501630.000,953136.000,157569.000,nan,1110705.000,tim.belden@enron.com,7991.000,5521.000,484.000,108.000,1.000,228.000
BELFER ROBERT,nan,nan,nan,nan,-102500.000,nan,nan,nan,3285.000,102500.000,3285.000,nan,44093.000,-44093.000,NaN,nan,nan,nan,nan,0.000,nan
BERBERIAN DAVID,216582.000,nan,nan,nan,nan,nan,nan,11892.000,nan,228474.000,1624396.000,869220.000,nan,2493616.000,david.berberian@enron.com,nan,nan,nan,nan,0.000,nan
BERGSIEKER RICHARD P,187922.000,250000.000,180250.000,-485813.000,nan,nan,427316.000,59175.000,nan,618850.000,nan,659249.000,nan,659249.000,rick.bergsieker@enron.com,383.000,233.000,59.000,0.000,0.000,4.000
BHATNAGAR SANJAY,nan,nan,nan,nan,nan,nan,137864.000,nan,137864.000,15456290.000,2604490.000,-2604490.000,15456290.000,nan,sanjay.bhatnagar@enron.com,523.000,463.000,29.000,1.000,0.000,0.000
BIBI PHILIPPE A,213625.000,1000000.000,369721.000,nan,nan,nan,425688.000,38559.000,nan,2047593.000,1465734.000,378082.000,nan,1843816.000,philippe.bibi@enron.com,1607.000,1336.000,40.000,8.000,0.000,23.000
BLACHMAN JEREMY M,248546.000,850000.000,831809.000,nan,nan,nan,272.000,84208.000,nan,2014835.000,765313.000,189041.000,nan,954354.000,jeremy.blachman@enron.com,2475.000,2326.000,14.000,2.000,0.000,25.000
BLAKE JR. NORMAN P,nan,nan,nan,-113784.000,nan,nan,nan,1279.000,113784.000,1279.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
BOWEN JR RAYMOND M,278601.000,1350000.000,974293.000,-833.000,nan,nan,1621.000,65907.000,nan,2669589.000,nan,252055.000,nan,252055.000,raymond.bowen@enron.com,1858.000,1593.000,27.000,15.000,1.000,140.000
BROWN MICHAEL,nan,nan,nan,nan,nan,nan,nan,49288.000,nan,49288.000,nan,nan,nan,nan,michael.brown@enron.com,1486.000,761.000,41.000,1.000,0.000,13.000
BUCHANAN HAROLD G,248017.000,500000.000,304805.000,nan,nan,nan,1215.000,600.000,nan,1054637.000,825464.000,189041.000,nan,1014505.000,john.buchanan@enron.com,1088.000,23.000,125.000,0.000,0.000,0.000
BUTTS ROBERT H,261516.000,750000.000,175000.000,-75000.000,nan,nan,150656.000,9410.000,nan,1271582.000,nan,417619.000,nan,417619.000,bob.butts@enron.com,nan,nan,nan,nan,0.000,nan
BUY RICHARD B,330546.000,900000.000,769862.000,-694862.000,649584.000,nan,400572.000,nan,nan,2355702.000,2542813.000,901657.000,nan,3444470.000,rick.buy@enron.com,3523.000,2333.000,1053.000,71.000,0.000,156.000
CALGER CHRISTOPHER F,240189.000,1250000.000,375304.000,-262500.000,nan,nan,486.000,35818.000,nan,1639297.000,nan,126027.000,nan,126027.000,christopher.calger@enron.com,2598.000,2188.000,144.000,25.000,1.000,199.000
CARTER REBECCA C,261809.000,300000.000,75000.000,-159792.000,nan,nan,540.000,nan,nan,477557.000,nan,307301.000,-307301.000,nan,rebecca.carter@enron.com,312.000,196.000,15.000,7.000,0.000,29.000
CAUSEY RICHARD A,415189.000,1000000.000,350000.000,-235000.000,nan,nan,307895.000,30674.000,nan,1868758.000,nan,2502063.000,nan,2502063.000,richard.causey@enron.com,1892.000,1585.000,49.000,12.000,1.000,58.000
CHAN RONNIE,nan,nan,nan,-98784.000,nan,nan,nan,nan,98784.000,nan,nan,32460.000,-32460.000,nan,NaN,nan,nan,nan,nan,0.000,nan
CHRISTODOULOU DIOMEDES,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,5127155.000,950730.000,nan,6077885.000,diomedes.christodoulou@enron.com,nan,nan,nan,nan,0.000,nan
CLINE KENNETH W,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,662086.000,-472568.000,189518.000,NaN,nan,nan,nan,nan,0.000,nan
COLWELL WESLEY,288542.000,1200000.000,nan,-144062.000,27610.000,nan,101740.000,16514.000,nan,1490344.000,nan,698242.000,nan,698242.000,wes.colwell@enron.com,1758.000,1132.000,40.000,11.000,1.000,240.000
CORDES WILLIAM R,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,651850.000,386335.000,nan,1038185.000,bill.cordes@enron.com,764.000,58.000,12.000,0.000,0.000,10.000
COX DAVID,314288.000,800000.000,nan,-41250.000,nan,nan,494.000,27861.000,nan,1101393.000,117551.000,378082.000,nan,495633.000,chip.cox@enron.com,102.000,71.000,33.000,4.000,0.000,0.000
CUMBERLAND MICHAEL S,184899.000,325000.000,275000.000,nan,nan,nan,713.000,22344.000,nan,807956.000,nan,207940.000,nan,207940.000,NaN,nan,nan,nan,nan,0.000,nan
DEFFNER JOSEPH M,206121.000,600000.000,335349.000,nan,nan,nan,25553.000,41626.000,nan,1208649.000,17378.000,141833.000,nan,159211.000,joseph.deffner@enron.com,714.000,552.000,74.000,4.000,0.000,115.000
DELAINEY DAVID W,365163.000,3000000.000,1294981.000,nan,nan,nan,1661.000,86174.000,nan,4747979.000,2291113.000,1323148.000,nan,3614261.000,david.delainey@enron.com,3093.000,2097.000,3069.000,609.000,1.000,66.000
DERRICK JR. JAMES V,492375.000,800000.000,484000.000,-1284000.000,nan,nan,7482.000,51124.000,nan,550981.000,8831913.000,1787380.000,-1787380.000,8831913.000,james.derrick@enron.com,2181.000,1401.000,909.000,20.000,0.000,64.000
DETMERING TIMOTHY J,210500.000,425000.000,415657.000,-775241.000,875307.000,nan,1105.000,52255.000,nan,1204583.000,2027865.000,315068.000,-315068.000,2027865.000,timothy.detmering@enron.com,nan,nan,nan,nan,0.000,nan
DIETRICH JANET R,250100.000,600000.000,556416.000,nan,nan,nan,473.000,3475.000,nan,1410464.000,1550019.000,315068.000,nan,1865087.000,janet.dietrich@enron.com,2572.000,1902.000,63.000,14.000,0.000,305.000
DIMICHELE RICHARD G,262788.000,1000000.000,694862.000,nan,nan,nan,374689.000,35812.000,nan,2368151.000,8191755.000,126027.000,nan,8317782.000,richard.dimichele@enron.com,nan,nan,nan,nan,0.000,nan
DODSON KEITH,221003.000,70000.000,nan,nan,nan,nan,774.000,28164.000,nan,319941.000,nan,nan,nan,nan,keith.dodson@enron.com,176.000,114.000,14.000,3.000,0.000,10.000
DONAHUE JR JEFFREY M,278601.000,800000.000,nan,-300000.000,nan,nan,891.000,96268.000,nan,875760.000,765920.000,315068.000,nan,1080988.000,jeff.donahue@enron.com,865.000,772.000,22.000,11.000,0.000,188.000
DUNCAN JOHN H,nan,nan,nan,-25000.000,nan,nan,nan,nan,102492.000,77492.000,371750.000,nan,nan,371750.000,NaN,nan,nan,nan,nan,0.000,nan
DURAN WILLIAM D,210692.000,750000.000,1105218.000,nan,nan,nan,1568.000,25785.000,nan,2093263.000,1451869.000,189041.000,nan,1640910.000,w.duran@enron.com,904.000,599.000,12.000,3.000,0.000,106.000
ECHOLS JOHN B,182245.000,200000.000,2234774.000,nan,nan,nan,53775.000,21530.000,nan,2692324.000,601438.000,407503.000,nan,1008941.000,john.echols@enron.com,nan,nan,nan,nan,0.000,nan
ELLIOTT STEVEN,170941.000,350000.000,nan,-400729.000,nan,nan,12961.000,78552.000,nan,211725.000,4890344.000,1788391.000,nan,6678735.000,steven.elliott@enron.com,nan,nan,nan,nan,0.000,nan
FALLON JAMES B,304588.000,2500000.000,374347.000,nan,nan,nan,401481.000,95924.000,nan,3676340.000,940257.000,1392142.000,nan,2332399.000,jim.fallon@enron.com,1755.000,1604.000,75.000,37.000,0.000,42.000
FASTOW ANDREW S,440698.000,1300000.000,1736055.000,-1386055.000,nan,nan,277464.000,55921.000,nan,2424083.000,nan,1794412.000,nan,1794412.000,andrew.fastow@enron.com,nan,nan,nan,nan,1.000,nan
FITZGERALD JAY L,199157.000,350000.000,556416.000,nan,nan,nan,285414.000,23870.000,nan,1414857.000,664461.000,956775.000,nan,1621236.000,jay.fitzgerald@enron.com,936.000,723.000,16.000,8.000,0.000,1.000
FOWLER PEGGY,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1324578.000,560170.000,nan,1884748.000,kulvinder.fowler@enron.com,517.000,10.000,36.000,0.000,0.000,0.000
FOY JOE,nan,nan,nan,nan,181755.000,nan,nan,nan,nan,181755.000,343434.000,nan,nan,343434.000,tracy.foy@enron.com,57.000,2.000,13.000,0.000,0.000,0.000
FREVERT MARK A,1060932.000,2000000.000,1617011.000,-3367011.000,6426990.000,2000000.000,7427621.000,86987.000,nan,17252530.000,10433518.000,4188667.000,nan,14622185.000,mark.frevert@enron.com,3275.000,2979.000,21.000,6.000,0.000,242.000
FUGH JOHN L,nan,nan,nan,nan,50591.000,nan,nan,nan,nan,50591.000,176378.000,nan,nan,176378.000,NaN,nan,nan,nan,nan,0.000,nan
GAHN ROBERT S,192008.000,509870.000,nan,-1042.000,73122.000,nan,76547.000,50080.000,nan,900585.000,83237.000,235370.000,nan,318607.000,NaN,nan,nan,nan,nan,0.000,nan
GARLAND C KEVIN,231946.000,850000.000,375304.000,nan,nan,nan,60814.000,48405.000,nan,1566469.000,636246.000,259907.000,nan,896153.000,kevin.garland@enron.com,209.000,178.000,44.000,27.000,0.000,10.000
GATHMANN WILLIAM D,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1753766.000,264013.000,-72419.000,1945360.000,NaN,nan,nan,nan,nan,0.000,nan
GIBBS DANA R,nan,nan,461912.000,nan,504610.000,nan,nan,nan,nan,966522.000,2218275.000,nan,nan,2218275.000,dana.gibbs@enron.com,169.000,23.000,12.000,0.000,0.000,0.000
GILLIS JOHN,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,9803.000,75838.000,nan,85641.000,NaN,nan,nan,nan,nan,0.000,nan
GLISAN JR BEN F,274975.000,600000.000,71023.000,nan,nan,nan,200308.000,125978.000,nan,1272284.000,384728.000,393818.000,nan,778546.000,ben.glisan@enron.com,873.000,874.000,16.000,6.000,1.000,52.000
GOLD JOSEPH,272880.000,750000.000,304805.000,nan,nan,nan,819288.000,nan,nan,2146973.000,436515.000,441096.000,nan,877611.000,joe.gold@enron.com,nan,nan,nan,nan,0.000,nan
GRAMM WENDY L,nan,nan,nan,nan,nan,nan,nan,nan,119292.000,119292.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
GRAY RODNEY,6615.000,nan,365625.000,nan,93585.000,nan,680833.000,nan,nan,1146658.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
HAEDICKE MARK E,374125.000,1150000.000,983346.000,-934484.000,2157527.000,nan,52382.000,76169.000,nan,3859065.000,608750.000,524169.000,-329825.000,803094.000,mark.haedicke@enron.com,4009.000,1847.000,1941.000,61.000,0.000,180.000
HANNON KEVIN P,243293.000,1500000.000,1617011.000,-3117011.000,nan,nan,11350.000,34039.000,nan,288682.000,5538001.000,853064.000,nan,6391065.000,kevin.hannon@enron.com,1045.000,1035.000,32.000,21.000,1.000,32.000
HAUG DAVID L,nan,nan,nan,nan,nan,nan,nan,475.000,nan,475.000,nan,2217299.000,nan,2217299.000,david.haug@enron.com,573.000,471.000,19.000,7.000,0.000,4.000
HAYES ROBERT E,nan,nan,nan,nan,7961.000,nan,nan,nan,nan,7961.000,nan,151418.000,nan,151418.000,robert.hayes@enron.com,504.000,50.000,12.000,0.000,0.000,16.000
HAYSLETT RODERICK J,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,346663.000,nan,346663.000,rod.hayslett@enron.com,2649.000,571.000,1061.000,38.000,0.000,35.000
HERMANN ROBERT J,262663.000,700000.000,150000.000,-280000.000,nan,nan,416441.000,48357.000,nan,1297461.000,187500.000,480632.000,nan,668132.000,robert.hermann@enron.com,nan,nan,nan,nan,0.000,nan
HICKERSON GARY J,211788.000,1700000.000,69223.000,nan,nan,nan,1936.000,98849.000,nan,2081796.000,nan,441096.000,nan,441096.000,gary.hickerson@enron.com,1320.000,900.000,27.000,1.000,0.000,40.000
HIRKO JOSEPH,nan,nan,nan,nan,10259.000,nan,2856.000,77978.000,nan,91093.000,30766064.000,nan,nan,30766064.000,joe.hirko@enron.com,nan,nan,nan,nan,1.000,nan
HORTON STANLEY C,nan,nan,nan,nan,3131860.000,nan,nan,nan,nan,3131860.000,5210569.000,2046079.000,nan,7256648.000,stanley.horton@enron.com,2350.000,1074.000,1073.000,15.000,0.000,44.000
HUGHES JAMES A,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,754966.000,363428.000,nan,1118394.000,james.hughes@enron.com,719.000,589.000,34.000,5.000,0.000,35.000
HUMPHREY GENE E,130724.000,nan,nan,nan,2964506.000,nan,nan,4994.000,nan,3100224.000,2282768.000,nan,nan,2282768.000,gene.humphrey@enron.com,128.000,119.000,17.000,17.000,0.000,10.000
IZZO LAWRENCE L,85274.000,nan,312500.000,nan,nan,nan,1553729.000,28093.000,nan,1979596.000,2165172.000,3654808.000,nan,5819980.000,larry.izzo@enron.com,496.000,437.000,19.000,5.000,0.000,28.000
JACKSON CHARLENE R,288558.000,250000.000,nan,nan,nan,nan,2435.000,10181.000,nan,551174.000,185063.000,540672.000,nan,725735.000,charlene.jackson@enron.com,258.000,117.000,56.000,19.000,0.000,25.000
JAEDICKE ROBERT,nan,nan,nan,-25000.000,nan,nan,nan,nan,108750.000,83750.000,431750.000,44093.000,-44093.000,431750.000,NaN,nan,nan,nan,nan,0.000,nan
KAMINSKI WINCENTY J,275101.000,400000.000,323466.000,nan,nan,nan,4669.000,83585.000,nan,1086821.000,850010.000,126027.000,nan,976037.000,vince.kaminski@enron.com,4607.000,583.000,14368.000,171.000,0.000,41.000
KEAN STEVEN J,404338.000,1000000.000,300000.000,nan,nan,nan,1231.000,41953.000,nan,1747522.000,2022048.000,4131594.000,nan,6153642.000,steven.kean@enron.com,12754.000,3639.000,6759.000,387.000,0.000,140.000
KISHKILL JOSEPH G,174246.000,nan,nan,-51042.000,nan,nan,465357.000,116335.000,nan,704896.000,nan,1034346.000,nan,1034346.000,joe.kishkill@enron.com,nan,nan,nan,nan,0.000,nan
KITCHEN LOUISE,271442.000,3100000.000,nan,nan,nan,nan,93925.000,5774.000,nan,3471141.000,81042.000,466101.000,nan,547143.000,louise.kitchen@enron.com,8305.000,3669.000,1728.000,194.000,0.000,251.000
KOENIG MARK E,309946.000,700000.000,300000.000,nan,nan,nan,150458.000,127017.000,nan,1587421.000,671737.000,1248318.000,nan,1920055.000,mark.koenig@enron.com,2374.000,2271.000,61.000,15.000,1.000,53.000
KOPPER MICHAEL J,224305.000,800000.000,602671.000,nan,nan,nan,907502.000,118134.000,nan,2652612.000,nan,985032.000,nan,985032.000,michael.kopper@enron.com,nan,nan,nan,nan,1.000,nan
LAVORATO JOHN J,339288.000,8000000.000,2035380.000,nan,nan,nan,1552.000,49537.000,nan,10425757.000,4158995.000,1008149.000,nan,5167144.000,john.lavorato@enron.com,7259.000,3962.000,2585.000,411.000,0.000,528.000
LAY KENNETH L,1072321.000,7000000.000,3600000.000,-300000.000,202911.000,81525000.000,10359729.000,99832.000,nan,103559793.000,34348384.000,14761694.000,nan,49110078.000,kenneth.lay@enron.com,4273.000,2411.000,36.000,16.000,1.000,123.000
LEFF DANIEL P,273746.000,1000000.000,1387399.000,nan,nan,nan,3083.000,nan,nan,2664228.000,nan,360528.000,nan,360528.000,dan.leff@enron.com,2822.000,2672.000,63.000,14.000,0.000,67.000
LEMAISTRE CHARLES,nan,nan,nan,-25000.000,nan,nan,nan,nan,112492.000,87492.000,412878.000,nan,nan,412878.000,NaN,nan,nan,nan,nan,0.000,nan
LEWIS RICHARD,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,850477.000,nan,nan,850477.000,richard.lewis@enron.com,952.000,739.000,26.000,0.000,0.000,10.000
LINDHOLM TOD A,236457.000,200000.000,175000.000,nan,204075.000,nan,2630.000,57727.000,nan,875889.000,2549361.000,514847.000,nan,3064208.000,tod.lindholm@enron.com,nan,nan,nan,nan,0.000,nan
LOCKHART EUGENE E,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
LOWRY CHARLES P,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,372205.000,153686.000,-153686.000,372205.000,NaN,nan,nan,nan,nan,0.000,nan
MARTIN AMANDA K,349487.000,nan,5145434.000,nan,85430.000,nan,2818454.000,8211.000,nan,8407016.000,2070306.000,nan,nan,2070306.000,a..martin@enron.com,1522.000,477.000,230.000,0.000,0.000,8.000
MCCARTY DANNY J,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,664375.000,94556.000,nan,758931.000,danny.mccarty@enron.com,1433.000,508.000,215.000,2.000,0.000,25.000
MCCLELLAN GEORGE,263413.000,900000.000,nan,-125000.000,nan,nan,51587.000,228763.000,nan,1318763.000,506765.000,441096.000,nan,947861.000,george.mcclellan@enron.com,1744.000,1469.000,49.000,0.000,0.000,52.000
MCCONNELL MICHAEL S,365038.000,1100000.000,554422.000,nan,nan,nan,540.000,81364.000,nan,2101364.000,1623010.000,1478269.000,nan,3101279.000,mike.mcconnell@enron.com,3329.000,2189.000,2742.000,194.000,0.000,92.000
MCDONALD REBECCA,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,757301.000,934065.000,nan,1691366.000,rebecca.mcdonald@enron.com,894.000,720.000,13.000,1.000,0.000,54.000
MCMAHON JEFFREY,370448.000,2600000.000,694862.000,nan,nan,nan,297353.000,137108.000,nan,4099771.000,1104054.000,558801.000,nan,1662855.000,jeffrey.mcmahon@enron.com,2355.000,2228.000,48.000,26.000,0.000,58.000
MENDELSOHN JOHN,nan,nan,nan,-103750.000,nan,nan,nan,148.000,103750.000,148.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
METTS MARK,365788.000,600000.000,nan,nan,nan,nan,1740.000,94299.000,nan,1061827.000,nan,585062.000,nan,585062.000,mark.metts@enron.com,807.000,702.000,29.000,1.000,0.000,38.000
MEYER JEROME J,nan,nan,nan,-38346.000,nan,nan,nan,2151.000,38346.000,2151.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
MEYER ROCKFORD G,nan,nan,nan,nan,1848227.000,nan,nan,nan,nan,1848227.000,493489.000,462384.000,nan,955873.000,rockford.meyer@enron.com,232.000,22.000,28.000,0.000,0.000,0.000
MORAN MICHAEL P,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,59539.000,161602.000,nan,221141.000,michael.moran@enron.com,672.000,127.000,19.000,0.000,0.000,0.000
MORDAUNT KRISTINA M,267093.000,325000.000,nan,nan,nan,nan,1411.000,35018.000,nan,628522.000,nan,208510.000,nan,208510.000,kristina.mordaunt@enron.com,nan,nan,nan,nan,0.000,nan
MULLER MARK S,251654.000,1100000.000,1725545.000,-719000.000,842924.000,nan,947.000,nan,nan,3202070.000,1056320.000,360528.000,nan,1416848.000,s..muller@enron.com,136.000,114.000,16.000,0.000,0.000,12.000
MURRAY JULIA H,229284.000,400000.000,125000.000,nan,nan,nan,330.000,57580.000,nan,812194.000,400478.000,196983.000,nan,597461.000,julia.murray@enron.com,2192.000,395.000,45.000,2.000,0.000,11.000
NOLES JAMES L,nan,nan,nan,nan,774401.000,nan,nan,nan,nan,774401.000,nan,463261.000,-94556.000,368705.000,NaN,nan,nan,nan,nan,0.000,nan
OLSON CINDY K,329078.000,750000.000,100000.000,nan,77716.000,nan,972.000,63791.000,nan,1321557.000,1637034.000,969729.000,nan,2606763.000,cindy.olson@enron.com,1184.000,856.000,52.000,15.000,0.000,20.000
OVERDYKE JR JERE C,94941.000,nan,135836.000,nan,nan,nan,176.000,18834.000,nan,249787.000,5266578.000,2041016.000,nan,7307594.000,jere.overdyke@enron.com,nan,nan,nan,nan,0.000,nan
PAI LOU L,261879.000,1000000.000,nan,nan,nan,nan,1829457.000,32047.000,nan,3123383.000,15364167.000,8453763.000,nan,23817930.000,lou.pai@enron.com,nan,nan,nan,nan,0.000,nan
PEREIRA PAULO V. FERRAZ,nan,nan,nan,-101250.000,nan,nan,nan,27942.000,101250.000,27942.000,nan,nan,nan,nan,NaN,nan,nan,nan,nan,0.000,nan
PICKERING MARK R,655037.000,300000.000,nan,nan,nan,400000.000,nan,31653.000,nan,1386690.000,28798.000,nan,nan,28798.000,mark.pickering@enron.com,898.000,728.000,67.000,0.000,0.000,7.000
PIPER GREGORY F,197091.000,400000.000,nan,-33333.000,1130036.000,nan,778.000,43057.000,nan,1737629.000,880290.000,409554.000,-409554.000,880290.000,greg.piper@enron.com,1238.000,742.000,222.000,48.000,0.000,61.000
PIRO JIM,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,47304.000,nan,47304.000,jim.piro@enron.com,58.000,3.000,16.000,1.000,0.000,0.000
POWERS WILLIAM,nan,nan,nan,-17500.000,nan,nan,nan,nan,17500.000,nan,nan,nan,nan,nan,ken.powers@enron.com,653.000,12.000,26.000,0.000,0.000,0.000
PRENTICE JAMES,nan,nan,nan,nan,564348.000,nan,nan,nan,nan,564348.000,886231.000,208809.000,nan,1095040.000,james.prentice@enron.com,nan,nan,nan,nan,0.000,nan

In [10]:
names = sorted(data_dict.keys())  #sort names of Enron employees in dataset by first letter of last name

print('Sorted list of Enron employees by last name:\n')
pprint(names)

Sorted list of Enron employees by last name:

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHAN RONNIE',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOCKHART EUGENE E',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THE TRAVEL AGENCY IN THE PARK',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'TOTAL',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

## Outlier Investigation and Removal

Study of last two queries reveals two entries of concern:  "The Travel Agency in the Park" and "Total".  

Will remove as they are obviously not individuals and a majority of the features have 'Nan' as a value.

In [11]:
data_dict.pop('TOTAL',0)
data_dict.pop('THE TRAVEL AGENCY IN THE PARK',0)

{'bonus': 'NaN',
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'NaN',
 'exercised_stock_options': 'NaN',
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 362096,
 'poi': False,
 'restricted_stock': 'NaN',
 'restricted_stock_deferred': 'NaN',
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 362096,
 'total_stock_value': 'NaN'}

Next, I want to search each individual datapoint to see if any records exist with similiar concerns as the 2 I removed above.  I will start by searching the feature "Total Payments" to isolate individuals with no entry.

In [12]:
# List of people with no total payment data

for entry in data_dict:
    if data_dict[entry]['total_payments'] == 'NaN':
        print(entry)

CORDES WILLIAM R
LOWRY CHARLES P
CHAN RONNIE
WHALEY DAVID A
CLINE KENNETH W
LEWIS RICHARD
MCCARTY DANNY J
POWERS WILLIAM
PIRO JIM
WROBEL BRUCE
MCDONALD REBECCA
SCRIMSHAW MATTHEW
GATHMANN WILLIAM D
GILLIS JOHN
MORAN MICHAEL P
LOCKHART EUGENE E
SHERRICK JEFFREY B
FOWLER PEGGY
CHRISTODOULOU DIOMEDES
HUGHES JAMES A
HAYSLETT RODERICK J

Now, I will run another query using an additional feature to drill down and try to isolate individuals with little to no valuable entries.  'Total Stock Value' seems like an obvious place to start since it is potential compensation that may not have been paid out or included in total payment data.

In [13]:
# List of people with no total payment data and no stock option data

for entry in data_dict:
    if data_dict[entry]['total_payments'] == 'NaN' and data_dict[entry]['total_stock_value'] == 'NaN':
        print(entry)

CHAN RONNIE
POWERS WILLIAM
LOCKHART EUGENE E

In [14]:
# Investigating CHAN RONNIE

data_dict['CHAN RONNIE']

{'bonus': 'NaN',
 'deferral_payments': 'NaN',
 'deferred_income': -98784,
 'director_fees': 98784,
 'email_address': 'NaN',
 'exercised_stock_options': 'NaN',
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 32460,
 'restricted_stock_deferred': -32460,
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 'NaN',
 'total_stock_value': 'NaN'}

#### Most of the entries contain no data.  Entries with data are canceled out by negative values in other columns.  Will remove this datapoint.

In [15]:
# Investigating POWERS WILLIAM

data_dict['POWERS WILLIAM']

{'bonus': 'NaN',
 'deferral_payments': 'NaN',
 'deferred_income': -17500,
 'director_fees': 17500,
 'email_address': 'ken.powers@enron.com',
 'exercised_stock_options': 'NaN',
 'expenses': 'NaN',
 'from_messages': 26,
 'from_poi_to_this_person': 0,
 'from_this_person_to_poi': 0,
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 'NaN',
 'restricted_stock_deferred': 'NaN',
 'salary': 'NaN',
 'shared_receipt_with_poi': 12,
 'to_messages': 653,
 'total_payments': 'NaN',
 'total_stock_value': 'NaN'}

#### This individual datapoint does not contain much financial data.  However, there are several relevant values related to communications.  I will retain this datapoint in future investigations.

In [16]:
# Investigating LOCKHART EUGENE E

data_dict['LOCKHART EUGENE E']

{'bonus': 'NaN',
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'NaN',
 'exercised_stock_options': 'NaN',
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 'NaN',
 'restricted_stock_deferred': 'NaN',
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 'NaN',
 'total_stock_value': 'NaN'}

#### Again, most of the entries contain no data.  Entries with data are canceled out by negative values in other columns.  Will remove this datapoint.

In [17]:
# Removing the 2 outlier datapoints as outlined above

data_dict.pop('LOCKHART EUGENE E', 0)
data_dict.pop('CHAN RONNIE', 0)

{'bonus': 'NaN',
 'deferral_payments': 'NaN',
 'deferred_income': -98784,
 'director_fees': 98784,
 'email_address': 'NaN',
 'exercised_stock_options': 'NaN',
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 32460,
 'restricted_stock_deferred': -32460,
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 'NaN',
 'total_stock_value': 'NaN'}

In [18]:
names = sorted(data_dict.keys())  #sort names of Enron employees in dataset by first letter of last name

print('Sorted list of Enron employees by last name:\n')
pprint(names)

Sorted list of Enron employees by last name:

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

#### Verified entries removed.

In [19]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Convert dictionary to DataFrame
enron_df = pd.DataFrame.from_dict(data_dict, orient = 'index', dtype = float)

# reorganize columns
enron_df = enron_df[
['salary',
'bonus',
'long_term_incentive',
'deferred_income',
'deferral_payments',
'loan_advances',
'other',
'expenses',
'director_fees',
'total_payments',
 'exercised_stock_options',
'restricted_stock',
 'restricted_stock_deferred',
 'total_stock_value',
 'email_address',
 'to_messages',
 'shared_receipt_with_poi',
 'from_messages',
 'from_this_person_to_poi',
 'poi',
 'from_poi_to_this_person']]

In [20]:
enron_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, ALLEN PHILLIP K to YEAP SOON
Data columns (total 21 columns):
salary                       94 non-null float64
bonus                        81 non-null float64
long_term_incentive          65 non-null float64
deferred_income              47 non-null float64
deferral_payments            38 non-null float64
loan_advances                3 non-null float64
other                        91 non-null float64
expenses                     94 non-null float64
director_fees                15 non-null float64
total_payments               123 non-null float64
exercised_stock_options      101 non-null float64
restricted_stock             108 non-null float64
restricted_stock_deferred    16 non-null float64
total_stock_value            125 non-null float64
email_address                142 non-null object
to_messages                  86 non-null float64
shared_receipt_with_poi      86 non-null float64
from_messages                86 non-null float64
from_this_person_to_poi      86 non-null float64
poi                          142 non-null float64
from_poi_to_this_person      86 non-null float64
dtypes: float64(20), object(1)
memory usage: 24.4+ KB

In [21]:
### Total Number of Data Points

print('Total Number of data points: %d' %len(data_dict))

Total Number of data points: 142

#### * Verified 21 total Columns -- just like the data structure queries above
#### * Index query reveals 4 concerning entries now removed.

In [22]:
# Saving the new dataset without the outliers

my_dataset = data_dict

## Feature Exploration

Now I can begin to isolate Persons of Interest(POIs) based on the boolean feature "POI".

In [23]:
# Counting the POIs

print("number of poi: {}".format(enron_df[enron_df['poi']==True]['poi'].count()))


# Counting the NON-POIs

print("number of non_poi: {}".format(enron_df[enron_df['poi']==False]['poi'].count()))

number of poi: 18
number of non_poi: 124

In [24]:
# print the POIs

index = enron_df.index

condition_poi = enron_df["poi"] == True


person_poi = index[condition_poi]

#arrange in alphabetical order

person_poi_list = sorted(person_poi.tolist())

print("The following are individuals labeled as POI (Person of Interest):\n")
print('\n'.join(map(str, person_poi_list)))

The following are individuals labeled as POI (Person of Interest):

BELDEN TIMOTHY N
BOWEN JR RAYMOND M
CALGER CHRISTOPHER F
CAUSEY RICHARD A
COLWELL WESLEY
DELAINEY DAVID W
FASTOW ANDREW S
GLISAN JR BEN F
HANNON KEVIN P
HIRKO JOSEPH
KOENIG MARK E
KOPPER MICHAEL J
LAY KENNETH L
RICE KENNETH D
RIEKER PAULA H
SHELBY REX
SKILLING JEFFREY K
YEAGER F SCOTT

Query of random record to validate features and entries:

In [25]:
print('Example Value Dictionary of Features:\n')
pprint(data_dict['METTS MARK']) 
pprint(len(data_dict['METTS MARK']))

Example Value Dictionary of Features:

{'bonus': 600000,
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'mark.metts@enron.com',
 'exercised_stock_options': 'NaN',
 'expenses': 94299,
 'from_messages': 29,
 'from_poi_to_this_person': 38,
 'from_this_person_to_poi': 1,
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 1740,
 'poi': False,
 'restricted_stock': 585062,
 'restricted_stock_deferred': 'NaN',
 'salary': 365788,
 'shared_receipt_with_poi': 702,
 'to_messages': 807,
 'total_payments': 1061827,
 'total_stock_value': 585062}
21

In [26]:
# List of original features

features_list = [
 'poi',
 'bonus',
 'deferral_payments',
 'deferred_income',
 'director_fees',
 'email_address',
 'exercised_stock_options',
 'expenses',
 'from_messages',
 'from_poi_to_this_person',
 'from_this_person_to_poi',
 'loan_advances',
 'long_term_incentive',
 'other',
 'restricted_stock',
 'restricted_stock_deferred',
 'salary',
 'shared_receipt_with_poi',
 'to_messages',
 'total_payments',
 'total_stock_value'
]

In [27]:
# Count number of entries missing values for each feature

features_nan = {}

for name, feature in data_dict.items():
    for feature_key, val in feature.items():
        if val == 'NaN':
            # Assign 0 to value
            feature[feature_key] = 0
            if features_nan.get(feature_key):
                features_nan[feature_key] = features_nan.get(feature_key) + 1
            else:
                features_nan[feature_key] = 1

print('# of Missing Values by Feature:\n')
print("{:<25} {:<5}".format('FEATURE', 'COUNT'))
print('-------------------------------')
for key, value in features_nan.items(): 
    print("{:<25} {:<5}".format(key, value))

# of Missing Values by Feature:

FEATURE                   COUNT
-------------------------------
salary                    48
to_messages               56
deferral_payments         104
total_payments            19
long_term_incentive       77
loan_advances             139
bonus                     61
restricted_stock          34
restricted_stock_deferred 126
total_stock_value         17
shared_receipt_with_poi   56
from_poi_to_this_person   56
exercised_stock_options   41
from_messages             56
other                     51
from_this_person_to_poi   56
deferred_income           95
expenses                  48
email_address             31
director_fees             127

In [28]:
# Replace missing values with a zero

enron_df = enron_df.fillna(0)

# Query to verify

enron_df.head()

,salary,bonus,long_term_incentive,deferred_income,deferral_payments,loan_advances,other,expenses,director_fees,total_payments,exercised_stock_options,restricted_stock,restricted_stock_deferred,total_stock_value,email_address,to_messages,shared_receipt_with_poi,from_messages,from_this_person_to_poi,poi,from_poi_to_this_person
ALLEN PHILLIP K,201955.000,4175000.000,304805.000,-3081055.000,2869717.000,0.000,152.000,13868.000,0.000,4484442.000,1729541.000,126027.000,-126027.000,1729541.000,phillip.allen@enron.com,2902.000,1407.000,2195.000,65.000,0.000,47.000
BADUM JAMES P,0.000,0.000,0.000,0.000,178980.000,0.000,0.000,3486.000,0.000,182466.000,257817.000,0.000,0.000,257817.000,NaN,0.000,0.000,0.000,0.000,0.000,0.000
BANNANTINE JAMES M,477.000,0.000,0.000,-5104.000,0.000,0.000,864523.000,56301.000,0.000,916197.000,4046157.000,1757552.000,-560222.000,5243487.000,james.bannantine@enron.com,566.000,465.000,29.000,0.000,0.000,39.000
BAXTER JOHN C,267102.000,1200000.000,1586055.000,-1386055.000,1295738.000,0.000,2660303.000,11200.000,0.000,5634343.000,6680544.000,3942714.000,0.000,10623258.000,NaN,0.000,0.000,0.000,0.000,0.000,0.000
BAY FRANKLIN R,239671.000,400000.000,0.000,-201641.000,260455.000,0.000,69.000,129142.000,0.000,827696.000,0.000,145796.000,-82782.000,63014.000,frank.bay@enron.com,0.000,0.000,0.000,0.000,0.000,0.000

In [29]:
# Re-checking for missing values

features_nan = {}

for name, feature in data_dict.items():
    for feature_key, val in feature.items():
        if val == 'NaN':
            # Assign 0 to value
            feature[feature_key] = 0
            if features_nan.get(feature_key):
                features_nan[feature_key] = features_nan.get(feature_key) + 1
            else:
                features_nan[feature_key] = 1

print('# of Missing Values by Feature:\n')
print("{:<25} {:<5}".format('FEATURE', 'COUNT'))
print('-------------------------------')
for key, value in features_nan.items(): 
    print("{:<25} {:<5}".format(key, value))

# of Missing Values by Feature:

FEATURE                   COUNT
-------------------------------

In [30]:
dataPoints = float(len(my_dataset))  ## count of data points
featureCount = float(len(features_list))  ## count of all features

## calculation of poi's and non-poi's

pois = 0.
nonPois = 0.
for i in my_dataset.values():
    if i["poi"] == 1:
        pois += 1.
    else:
        nonPois += 1.

## data exploration

print "Number of Data Points : ", dataPoints
print "Number of Poi's : ", pois
print "Number of non-Poi's : ", nonPois
print "Number of missing Poi values : ", dataPoints - (pois + nonPois)
print "Poi percentage : %", round((pois / (nonPois + pois)), 2) * 100  ## poi's percentage for all records
print "Number of Features : ", featureCount

Number of Data Points :  142.0
Number of Poi's :  18.0
Number of non-Poi's :  124.0
Number of missing Poi values :  0.0
Poi percentage : % 13.0
Number of Features :  21.0

#### Verified new dataset contains appropriate number of executive datapoints after outliers removed.  Still retain 21 total features.  POI proves to be a solid feature as no remaining entries are missing data. 

*Side note:  It's quite concerning that 13% of executives are labeled as POIs!*

In [31]:
import numpy as np

def featureFormat( dictionary, features, remove_NaN=True, remove_all_zeroes=True, remove_any_zeroes=False, sort_keys = False):
    """ convert dictionary to numpy array of features
        remove_NaN = True will convert "NaN" string to 0.0
        remove_all_zeroes = True will omit any data points for which
            all the features you seek are 0.0
        remove_any_zeroes = True will omit any data points for which
            any of the features you seek are 0.0
        sort_keys = True sorts keys by alphabetical order. Setting the value as
            a string opens the corresponding pickle file with a preset key
            order (this is used for Python 3 compatibility, and sort_keys
            should be left as False for the course mini-projects).
        NOTE: first feature is assumed to be 'poi' and is not checked for
            removal for zero or missing values.
    """


    return_list = []

    # Key order - first branch is for Python 3 compatibility on mini-projects,
    # second branch is for compatibility on final project.
    if isinstance(sort_keys, str):
        import pickle
        keys = pickle.load(open(sort_keys, "rb"))
    elif sort_keys:
        keys = sorted(dictionary.keys())
    else:
        keys = dictionary.keys()

    for key in keys:
        tmp_list = []
        for feature in features:
            try:
                dictionary[key][feature]
            except KeyError:
                print("error: key ", feature, " not present")
                return
            value = dictionary[key][feature]
            if value=="NaN" and remove_NaN:
                value = 0
            tmp_list.append( float(value) )

        # Logic for deciding whether or not to add the data point.
        append = True
        # exclude 'poi' class as criteria.
        if features[0] == 'poi':
            test_list = tmp_list[1:]
        else:
            test_list = tmp_list
        ### if all features are zero and you want to remove
        ### data points that are all zero, do that here
        if remove_all_zeroes:
            append = False
            for item in test_list:
                if item != 0 and item != "NaN":
                    append = True
                    break
        ### if any features for a given data point are zero
        ### and you want to remove data points with any zeroes,
        ### handle that here
        if remove_any_zeroes:
            if 0 in test_list or "NaN" in test_list:
                append = False
        ### Append the data point if flagged for addition.
        if append:
            return_list.append( np.array(tmp_list) )

    return np.array(return_list)


def targetFeatureSplit( data ):
    """ 
        given a numpy array like the one returned from
        featureFormat, separate out the first feature
        and put it into its own list (this should be the 
        quantity you want to predict)

        return targets and features as separate lists

        (sklearn can generally handle both lists and numpy arrays as 
        input formats when training/predicting)
    """

    target = []
    features = []
    for item in data:
        target.append( item[0] )
        features.append( item[1:] )

    return target, features

#### Introduction of included code to format features.  I next want to search for outliers and see if any interesting relationships emerge that I can use as the basis for new features.

### Next, I'll do a search for specific outlier entries.

In [32]:
outlier_POIs = dict()

cases = 0
for column_name in list(enron_df):
    if enron_df[column_name].dtype == 'float' and column_name != 'poi':
        cases +=1
        test_data = enron_df[enron_df[column_name]!=0]
        Q1 = test_data[column_name].quantile(0.25)
        Q3 = test_data[column_name].quantile(0.75)
        IQR = Q3 - Q1

        # Filtering Values between Q1-1.5IQR and Q3+1.5IQR
        query_str = '(@Q1 - 2 * @IQR) >= ' + column_name + ' or  (@Q3 + 2 * @IQR) <=' + column_name
        filtered = test_data.query(query_str)

        print(column_name + ": " + str(len(filtered)))
        filtered = filtered.sort_values(column_name)
        print(filtered[column_name].head(10))
        print("")
        
        for person in filtered.index.tolist():
            try:
               outlier_POIs[person] = 1 + outlier_POIs[person]
            except:
               outlier_POIs[person] = 1 

print("Total Cases:" + str(cases))

salary: 7
BANNANTINE JAMES M       477.000
GRAY RODNEY             6615.000
WHALLEY LAWRENCE G    510364.000
PICKERING MARK R      655037.000
FREVERT MARK A       1060932.000
LAY KENNETH L        1072321.000
SKILLING JEFFREY K   1111258.000
Name: salary, dtype: float64

bonus: 8
DELAINEY DAVID W     3000000.000
WHALLEY LAWRENCE G   3000000.000
KITCHEN LOUISE       3100000.000
ALLEN PHILLIP K      4175000.000
BELDEN TIMOTHY N     5249999.000
SKILLING JEFFREY K   5600000.000
LAY KENNETH L        7000000.000
LAVORATO JOHN J      8000000.000
Name: bonus, dtype: float64

long_term_incentive: 4
LAVORATO JOHN J   2035380.000
ECHOLS JOHN B     2234774.000
LAY KENNETH L     3600000.000
MARTIN AMANDA K   5145434.000
Name: long_term_incentive, dtype: float64

deferred_income: 5
RICE KENNETH D     -3504386.000
FREVERT MARK A     -3367011.000
HANNON KEVIN P     -3117011.000
ALLEN PHILLIP K    -3081055.000
BELDEN TIMOTHY N   -2334434.000
Name: deferred_income, dtype: float64

deferral_payments: 4
ALLEN PHILLIP K    2869717.000
HUMPHREY GENE E    2964506.000
HORTON STANLEY C   3131860.000
FREVERT MARK A     6426990.000
Name: deferral_payments, dtype: float64

loan_advances: 0
Series([], Name: loan_advances, dtype: float64)

other: 9
WHITE JR THOMAS E    1085463.000
IZZO LAWRENCE L      1553729.000
SHELBY REX           1573324.000
PAI LOU L            1829457.000
SHERRIFF JOHN R      1852186.000
BAXTER JOHN C        2660303.000
MARTIN AMANDA K      2818454.000
FREVERT MARK A       7427621.000
LAY KENNETH L       10359729.000
Name: other, dtype: float64

expenses: 2
URQUHART JOHN A    228656.000
MCCLELLAN GEORGE   228763.000
Name: expenses, dtype: float64

director_fees: 0
Series([], Name: director_fees, dtype: float64)

total_payments: 8
BELDEN TIMOTHY N       5501630.000
BAXTER JOHN C          5634343.000
MARTIN AMANDA K        8407016.000
SKILLING JEFFREY K     8682716.000
LAVORATO JOHN J       10425757.000
BHATNAGAR SANJAY      15456290.000
FREVERT MARK A        17252530.000
LAY KENNETH L        103559793.000
Name: total_payments, dtype: float64

exercised_stock_options: 11
BAXTER JOHN C          6680544.000
REDMOND BRIAN L        7509039.000
DIMICHELE RICHARD G    8191755.000
YEAGER F SCOTT         8308552.000
DERRICK JR. JAMES V    8831913.000
FREVERT MARK A        10433518.000
PAI LOU L             15364167.000
SKILLING JEFFREY K    19250000.000
RICE KENNETH D        19794175.000
HIRKO JOSEPH          30766064.000
Name: exercised_stock_options, dtype: float64

restricted_stock: 13
BHATNAGAR SANJAY     -2604490.000
CAUSEY RICHARD A      2502063.000
RICE KENNETH D        2748364.000
WHALLEY LAWRENCE G    2796177.000
YEAGER F SCOTT        3576206.000
IZZO LAWRENCE L       3654808.000
BAXTER JOHN C         3942714.000
KEAN STEVEN J         4131594.000
FREVERT MARK A        4188667.000
SKILLING JEFFREY K    6843672.000
Name: restricted_stock, dtype: float64

restricted_stock_deferred: 2
DERRICK JR. JAMES V   -1787380.000
BHATNAGAR SANJAY      15456290.000
Name: restricted_stock_deferred, dtype: float64

total_stock_value: 14
HORTON STANLEY C       7256648.000
OVERDYKE JR JERE C     7307594.000
REDMOND BRIAN L        7890324.000
DIMICHELE RICHARD G    8317782.000
DERRICK JR. JAMES V    8831913.000
BAXTER JOHN C         10623258.000
YEAGER F SCOTT        11884758.000
FREVERT MARK A        14622185.000
WHITE JR THOMAS E     15144123.000
RICE KENNETH D        22542539.000
Name: total_stock_value, dtype: float64

to_messages: 6
LAVORATO JOHN J      7259.000
BECK SALLY W         7315.000
BELDEN TIMOTHY N     7991.000
KITCHEN LOUISE       8305.000
KEAN STEVEN J       12754.000
SHAPIRO RICHARD S   15149.000
Name: to_messages, dtype: float64

shared_receipt_with_poi: 1
BELDEN TIMOTHY N   5521.000
Name: shared_receipt_with_poi, dtype: float64

from_messages: 17
BELDEN TIMOTHY N       484.000
WHALLEY LAWRENCE G     556.000
DERRICK JR. JAMES V    909.000
BUY RICHARD B         1053.000
HAYSLETT RODERICK J   1061.000
HORTON STANLEY C      1073.000
SHAPIRO RICHARD S     1215.000
KITCHEN LOUISE        1728.000
HAEDICKE MARK E       1941.000
ALLEN PHILLIP K       2195.000
Name: from_messages, dtype: float64

from_this_person_to_poi: 8
BELDEN TIMOTHY N      108.000
KAMINSKI WINCENTY J   171.000
KITCHEN LOUISE        194.000
MCCONNELL MICHAEL S   194.000
BECK SALLY W          386.000
KEAN STEVEN J         387.000
LAVORATO JOHN J       411.000
DELAINEY DAVID W      609.000
Name: from_this_person_to_poi, dtype: float64

from_poi_to_this_person: 5
COLWELL WESLEY     240.000
FREVERT MARK A     242.000
KITCHEN LOUISE     251.000
DIETRICH JANET R   305.000
LAVORATO JOHN J    528.000
Name: from_poi_to_this_person, dtype: float64

Total Cases:19

### Top 10 outlier individuals:

In [33]:
outlier_POIs_df = pd.DataFrame.from_dict(outlier_POIs, orient = 'index', dtype = int)
outlier_POIs_df.columns = ['Count']
outlier_POIs_df = outlier_POIs_df.sort_values('Count', ascending = False)
outlier_POIs_df.head(10)

                     Count
FREVERT MARK A           9
LAY KENNETH L            8
LAVORATO JOHN J          7
BELDEN TIMOTHY N         7
SKILLING JEFFREY K       6
BAXTER JOHN C            5
KITCHEN LOUISE           5
RICE KENNETH D           4
KEAN STEVEN J            4
DERRICK JR. JAMES V      4

Next, I want to check to see if any powerful correlations exist that can also shed light on potential new features.

In [34]:
# looking for correlations in the data

enron_df.corr(method ='pearson')

,salary,bonus,long_term_incentive,deferred_income,deferral_payments,loan_advances,other,expenses,director_fees,total_payments,exercised_stock_options,restricted_stock,restricted_stock_deferred,total_stock_value,to_messages,shared_receipt_with_poi,from_messages,from_this_person_to_poi,poi,from_poi_to_this_person
salary,1.000,0.648,0.558,-0.329,0.241,0.389,0.545,0.355,-0.296,0.511,0.448,0.537,-0.090,0.520,0.392,0.508,0.142,0.204,0.338,0.404
bonus,0.648,1.000,0.496,-0.331,0.173,0.433,0.383,0.242,-0.172,0.559,0.415,0.422,-0.044,0.460,0.518,0.663,0.173,0.448,0.358,0.640
long_term_incentive,0.558,0.496,1.000,-0.296,0.118,0.402,0.534,0.093,-0.153,0.520,0.398,0.341,-0.039,0.420,0.190,0.277,0.054,0.155,0.255,0.265
deferred_income,-0.329,-0.331,-0.296,1.000,-0.543,-0.025,-0.265,-0.039,0.076,-0.103,-0.268,-0.125,0.048,-0.244,-0.121,-0.235,-0.014,-0.004,-0.274,-0.194
deferral_payments,0.241,0.173,0.118,-0.543,1.000,0.014,0.368,-0.024,-0.092,0.141,0.116,0.087,-0.031,0.117,0.123,0.209,0.028,0.001,-0.041,0.216
loan_advances,0.389,0.433,0.402,-0.025,0.014,1.000,0.759,0.121,-0.027,0.964,0.568,0.582,-0.005,0.631,0.115,0.137,-0.020,-0.010,0.220,0.100
other,0.545,0.383,0.534,-0.265,0.368,0.759,1.000,0.137,-0.078,0.830,0.550,0.635,-0.008,0.634,0.105,0.179,-0.055,-0.050,0.169,0.159
expenses,0.355,0.242,0.093,-0.039,-0.024,0.121,0.137,1.000,-0.128,0.150,0.119,0.178,-0.069,0.149,0.239,0.283,0.154,0.132,0.202,0.143
director_fees,-0.296,-0.172,-0.153,0.076,-0.092,-0.027,-0.078,-0.128,1.000,-0.022,-0.112,-0.175,0.358,-0.142,-0.165,-0.191,-0.078,-0.096,-0.118,-0.163
total_payments,0.511,0.559,0.520,-0.103,0.141,0.964,0.830,0.150,-0.022,1.000,0.598,0.603,0.127,0.661,0.196,0.253,0.008,0.061,0.242,0.215
exercised_stock_options,0.448,0.415,0.398,-0.268,0.116,0.568,0.550,0.119,-0.112,0.598,1.000,0.586,-0.003,0.964,0.083,0.123,-0.025,0.001,0.386,0.123
restricted_stock,0.537,0.422,0.341,-0.125,0.087,0.582,0.635,0.178,-0.175,0.603,0.586,1.000,-0.146,0.780,0.157,0.178,0.021,0.058,0.247,0.123
restricted_stock_deferred,-0.090,-0.044,-0.039,0.048,-0.031,-0.005,-0.008,-0.069,0.358,0.127,-0.003,-0.146,1.000,-0.046,-0.028,-0.022,-0.023,-0.023,-0.022,-0.047
total_stock_value,0.520,0.460,0.420,-0.244,0.117,0.631,0.634,0.149,-0.142,0.661,0.964,0.780,-0.046,1.000,0.115,0.153,-0.013,0.020,0.382,0.135
to_messages,0.392,0.518,0.190,-0.121,0.123,0.115,0.105,0.239,-0.165,0.196,0.083,0.157,-0.028,0.115,1.000,0.881,0.508,0.605,0.106,0.617
shared_receipt_with_poi,0.508,0.663,0.277,-0.235,0.209,0.137,0.179,0.283,-0.191,0.253,0.123,0.178,-0.022,0.153,0.881,1.000,0.300,0.524,0.238,0.732
from_messages,0.142,0.173,0.054,-0.014,0.028,-0.020,-0.055,0.154,-0.078,0.008,-0.025,0.021,-0.023,-0.013,0.508,0.300,1.000,0.609,-0.035,0.252
from_this_person_to_poi,0.204,0.448,0.155,-0.004,0.001,-0.010,-0.050,0.132,-0.096,0.061,0.001,0.058,-0.023,0.020,0.605,0.524,0.609,1.000,0.128,0.497
poi,0.338,0.358,0.255,-0.274,-0.041,0.220,0.169,0.202,-0.118,0.242,0.386,0.247,-0.022,0.382,0.106,0.238,-0.035,0.128,1.000,0.188
from_poi_to_this_person,0.404,0.640,0.265,-0.194,0.216,0.100,0.159,0.143,-0.163,0.215,0.123,0.123,-0.047,0.135,0.617,0.732,0.252,0.497,0.188,1.000

I'll start by examining the above chart to find any strong correlations between features to use as the basis for any new features.

An obvious place to start is with the "from_this_person_to_poi" feature, as this will reveal individuals with a lot of communications with POIs.  

* "loan_advances" emerges as the first obvious choice.  The correlation ratio of 0.935 is extremely strong and is one of the highest on the chart.
* "from_poi_to_this_person" is also an interesting choice.  The correlation ratio is 0.497, which proves a relationship
* I will create a new feature named 'percent_poi_emails' to calculate the percentage of total email communications in which POIs were involved

### New Feature Creation

In [35]:
# Creates a new list by adding two lists together

def get_total_list(list1, list2):
    new_list = []
    for i in my_dataset:
        if my_dataset[i][list1] == 'NaN' or my_dataset[i][list2] == 'NaN':
            new_list.append(0.)
        elif my_dataset[i][list1]>=0:
            new_list.append(float(my_dataset[i][list1]) + float(my_dataset[i][list2]))
    return new_list

In [36]:
# Establishing POI email list

poi_emails_list = get_total_list('from_this_person_to_poi', 'from_poi_to_this_person')

In [37]:
# Establishing total email list

total_emails_list = get_total_list('to_messages', 'from_messages')

In [38]:
# Divides one list by another list
def fraction_list(list1, list2):
    new_list = []
    for i in range(0,len(list1)):
        if list2[i] == 0.0:
            new_list.append(0.0)
        else:
            new_list.append(float(list1[i])/float(list2[i]))
    return new_list

In [39]:
# Getting new list by dividing previously created lists

percent_poi_emails = fraction_list(poi_emails_list, total_emails_list)

In [40]:
len(percent_poi_emails)

142

In [41]:
# Adding this new feature to the dataset

count = 0
for i in my_dataset:
    my_dataset[i]['percent_poi_emails'] = percent_poi_emails[count]
    count += 1

In [42]:
# Printing all features

print(len((my_dataset['SKILLING JEFFREY K'].keys())))
print(my_dataset['SKILLING JEFFREY K'].keys())

22
['to_messages', 'deferral_payments', 'expenses', 'poi', 'deferred_income', 'email_address', 'long_term_incentive', 'restricted_stock_deferred', 'shared_receipt_with_poi', 'loan_advances', 'from_messages', 'other', 'director_fees', 'percent_poi_emails', 'bonus', 'total_stock_value', 'from_poi_to_this_person', 'from_this_person_to_poi', 'restricted_stock', 'salary', 'total_payments', 'exercised_stock_options']

#### Verified 'loan_advances_feature' now added to list.

Next, I will add the new feature to features_list and remove the "email_address" feature as it has no value for this exercise.  I will also remove the 'other' feature as it is undefined and might skew the data.

In [43]:
# Adding new feature to features_list and removing "email_address" feature 

features_list = [
 'poi',
 'bonus',
 'deferral_payments',
 'deferred_income',
 'director_fees',
 'exercised_stock_options',
 'expenses',
 'from_messages',
 'from_poi_to_this_person',
 'from_this_person_to_poi',
 'loan_advances',
 'long_term_incentive',
 'percent_poi_emails',
 'restricted_stock',
 'restricted_stock_deferred',
 'salary',
 'shared_receipt_with_poi',
 'to_messages',
 'total_payments',
 'total_stock_value'
]

Now, I want to use Decision Tree to see which set of features best suites my needs:

In [44]:
# Decision Tree with original set of features

import numpy as np
np.random.seed(42)
from time import time
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

# features_list

features_list = ['poi','salary', 'from_poi_to_this_person', 'from_this_person_to_poi', 'to_messages', 
                 'deferral_payments', 'total_payments', 'exercised_stock_options', 'bonus', 
                 'restricted_stock', 'shared_receipt_with_poi', 'restricted_stock_deferred', 
                 'total_stock_value', 'expenses', 'loan_advances', 'from_messages', 'other', 
                 'director_fees', 'deferred_income', 'long_term_incentive']

data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing

features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree

from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

from sklearn.metrics import accuracy_score
acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.7543859649122807
Precision:  0.25
Recall:  0.375

In [45]:
# Decision Tree with updated set of features

import numpy as np
np.random.seed(42)
from time import time
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

# features_list

features_list = ['poi', 'bonus', 'deferral_payments', 'deferred_income', 'director_fees',
                 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person',
                 'from_this_person_to_poi', 'loan_advances', 'long_term_incentive', 'percent_poi_emails',
                 'restricted_stock', 'restricted_stock_deferred', 'salary', 'shared_receipt_with_poi',
                 'to_messages', 'total_payments', 'total_stock_value'
                ]

data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing

features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree

from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

from sklearn.metrics import accuracy_score
acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.7543859649122807
Precision:  0.2
Recall:  0.25

In [46]:
# Decision Tree with original set of features minus email address and other

import numpy as np
np.random.seed(42)
from time import time
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

# features_list

features_list = ['poi', 'bonus', 'deferral_payments', 'deferred_income', 'director_fees',
                 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person',
                 'from_this_person_to_poi', 'loan_advances', 'long_term_incentive',
                 'restricted_stock', 'restricted_stock_deferred', 'salary', 'shared_receipt_with_poi',
                 'to_messages', 'total_payments', 'total_stock_value'
                ]

data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing

features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree

from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

from sklearn.metrics import accuracy_score
acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.7543859649122807
Precision:  0.2
Recall:  0.25

I will now run Select K Best to isolate the most important features from the dataset.

In [47]:
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

def selectFeatures(nParam):
    kBest = SelectKBest(k=nParam)
    kBest.fit_transform(features, labels)
    kResult = zip(kBest.get_support(), kBest.scores_, features_list[1:])
    return list(sorted(kResult, key=lambda x: x[1], reverse=True))


resultsAll = selectFeatures("all")

import pprint

pprint.pprint(resultsAll)

[(True, 24.532722463057976, 'exercised_stock_options'),
 (True, 23.898259813869416, 'total_stock_value'),
 (True, 20.524645181851792, 'bonus'),
 (True, 18.003739993113935, 'salary'),
 (True, 11.353769628808733, 'deferred_income'),
 (True, 9.772103538408254, 'long_term_incentive'),
 (True, 9.081517827190943, 'restricted_stock'),
 (True, 8.671773243105207, 'total_payments'),
 (True, 8.432635423024681, 'shared_receipt_with_poi'),
 (True, 7.1253824688830685, 'loan_advances'),
 (True, 5.954544292197293, 'expenses'),
 (True, 5.14221919450697, 'from_poi_to_this_person'),
 (True, 2.3388361146462624, 'from_this_person_to_poi'),
 (True, 1.9683646966682355, 'director_fees'),
 (True, 1.5942560277180795, 'to_messages'),
 (True, 0.2323680582546254, 'deferral_payments'),
 (True, 0.1753832041587958, 'from_messages'),
 (True, 0.06643110199560048, 'restricted_stock_deferred')]

A brief examination of the above results reveals the top five strongest features:

* 'exercised_stock_options'
* 'total_stock_value'
* 'bonus'
* 'salary'
* 'deferred_income

I will now run Decision Tree using the top 4, 5, and 6 features to check which feature set performs the best.

In [48]:
# features_list top 4
features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 'salary']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.7692307692307693
Precision:  0.25
Recall:  0.25

In [49]:
# Top 5 features

features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 
                 'salary', 'deferred_income']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.6785714285714286
Precision:  0.17647058823529413
Recall:  0.42857142857142855

In [50]:
# Top 6 features

features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 
                 'salary', 'deferred_income','long_term_incentive']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data into training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.7142857142857143
Precision:  0.2
Recall:  0.42857142857142855

In [51]:
# features_list top 4 with new feature

features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 'percent_poi_emails']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.8076923076923077
Precision:  0.4
Recall:  0.5

In [52]:
# features_list top 5 with new feature

features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 
                 'salary', 'deferred_income', 'percent_poi_emails']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.8035714285714286
Precision:  0.14285714285714285
Recall:  0.16666666666666666

### New Feature Test Results

Using DecisionTreeClassifier in combination with Select K Best, I determined using the top 5 features, in conjunction with my newly created feature 'percent_poi_emails' (as outlined above), performed the best out of the bunch.  The test results were as follows:

* Accuracy: 0.81
* Precision:  0.40
* Recall:  0.50

In [53]:
# establish list of features used

features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 'percent_poi_emails']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.8076923076923077
Precision:  0.4
Recall:  0.5

## Algorithms

### Classifiers

In [54]:
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [55]:
randomState = 42
nFeatures = 5

In [56]:
## returns stored classifiers and their parameters

def createClassifiersAndParams():
    rec = {}  ## store all in this list

    def addToDict(name, clf, params):  ## helper for adding to the list
        ## name : name of the classifier
        ## clf : classifier object
        ## params : parameters object
        rec[name] = {"clf": clf,
                     "params": params}

    ##naive bayes
    addToDict("NaiveBayes", GaussianNB(), {})

    ##support vector machines
    addToDict("SVM", SVC(), {'kernel': ['poly', 'rbf', 'sigmoid'],
                             'cache_size': [7000],
                             'tol': [0.0001, 0.001, 0.005, 0.05],
                             'decision_function_shape': ['ovo', 'ovr'],
                             'random_state': [randomState],
                             'verbose' : [False],
                             'C': [100, 1000, 10000]
                             })

    ##DecisionTree
    addToDict("DecisionTree", DecisionTreeClassifier(), {'criterion': ['gini', 'entropy'],
                                                         'splitter': ['best', 'random'],
                                                         'min_samples_split': [2, 10, 20],
                                                         'max_depth': [None, 2, 4, 8, 16],
                                                         'min_samples_leaf': [1, 3, 5, 7, 9],
                                                         'max_leaf_nodes': [None, 6, 12, 24],
                                                         'random_state': [randomState]})
   
    ##AdaBoost
    addToDict("AdaBoost", AdaBoostClassifier(), {'n_estimators': [25, 50, 100],
                                                 'algorithm': ['SAMME', 'SAMME.R'],
                                                 'learning_rate': [.2, .5, 1, 1.4, 2.],
                                                 'random_state': [randomState]})
   

    
    ##LogisticRegression
    addToDict("LogisticRegression", LogisticRegression(), {'penalty': ['l1', 'l2'],
                                                           'tol': [0.0001, 0.0005, 0.001, 0.005],
                                                           'C': [1, 10, 100, 1000, 10000, 100000, 1000000],
                                                           'fit_intercept': [True, False],
                                                           'solver': ['liblinear'],
                                                           'class_weight': [None, 'balanced'],
                                                           'verbose': [False],
                                                           'random_state': [randomState]
                                                           })

    return rec

In [57]:
def train(clf, params, features_train, labels_train):  ## trainer function
    # train
    t0 = time()  ## timer for calculating trainin time
    clft = GridSearchCV(clf, params)  ## grid search with parameters
    clft = clft.fit(features_train, labels_train)  ## training the searcher for best fit

    # print "training time:", round(time() - t0, 3), "s"  ##print the training time
    return clft, (time() - t0)  ## return best parameters

In [58]:
def predict(clf, features_test):  ## predictor function
    # predict
    t0 = time()  ##timer for calculating the prediction time
    pred = clf.predict(features_test)  ## predict the result for test features
    # print "predicting time:", round(time() - t0, 3), "s"  ## print the prediction time
    return pred, (time() - t0)  ## return all predictions

In [59]:
def scores(pred, labels_test):  ## scoring function
    ## inspired from tester script

    true_negatives = 0
    false_negatives = 0
    true_positives = 0
    false_positives = 0
    total_predictions = 0
    accuracy = 0.
    precision = 0.
    recall = 0.
    f1 = 0.
    f2 = 0.

    ## get the prediction details
    for prediction, truth in zip(pred, labels_test):
        if prediction == 0 and truth == 0:
            true_negatives += 1
        elif prediction == 0 and truth == 1:
            false_negatives += 1
        elif prediction == 1 and truth == 0:
            false_positives += 1
        elif prediction == 1 and truth == 1:
            true_positives += 1
        else:
            print "Warning: Found a predicted label not == 0 or 1."
            print "All predictions should take value 0 or 1."
            print "Evaluating performance for processed predictions:"
            break

    try:
        ##calculate each metric
        total_predictions = true_negatives + false_negatives + false_positives + true_positives
        accuracy = 1.0 * (true_positives + true_negatives) / total_predictions
        precision = 1.0 * true_positives / (true_positives + false_positives)
        recall = 1.0 * true_positives / (true_positives + false_negatives)
        f1 = 2.0 * true_positives / (2 * true_positives + false_positives + false_negatives)
        f2 = (1 + 2.0 * 2.0) * precision * recall / (4 * precision + recall)

    except:
        print "Got a divide by zero"


    return accuracy, precision, recall, f1, f2  ## return all scores

In [60]:
## function for doing everything in a single area
## gets classifier, their parameters, train and test features
## returns the best-fit classifier, its parameters and the scores
def doTheMath(clf, params, features_train, labels_train, features_test, labels_test):
    clft, trainTime = train(clf, params, features_train, labels_train)  ## call train function with given params
    preds, predictTime = predict(clft, features_test)  ## make predictions with given classifier

    accuracy, precision, recall, f1, f2 = scores(preds, labels_test)  ## calculate the scores

    ## return best-fit classifier, and its parameters , also the score values
    return clft.best_estimator_, clft.best_params_, accuracy, precision, recall, f1, f2, trainTime, predictTime

In [61]:
allClassifiers = createClassifiersAndParams()  ## create the list of classifiers

In [62]:
## format the data with only selected features
data = featureFormat(my_dataset, features_list, sort_keys=True)
labels, features = targetFeatureSplit(data)

In [63]:
features_train, features_test, labels_train, labels_test = \
    train_test_split(features, labels, test_size=0.3, random_state=42)

In [64]:
scaler = MinMaxScaler()
features_train = scaler.fit_transform(features_train)
features_test = scaler.fit_transform(features_test)

In [65]:
for x in allClassifiers:  ##loop through all classifiers

    clft = allClassifiers[x]["clf"]  ##get the classifier
    params = allClassifiers[x]["params"]  ##get the parameters

    ## call the function for all processes
    estimator, params, accuracy, precision, recall, f1, f2, trainTime, predictTime = doTheMath(clft,
                                                                                               params,
                                                                                               features_train,
                                                                                               labels_train,
                                                                                               features_test,
                                                                                               labels_test)

    ## record results in dictionary
    allClassifiers[x]["clf"] = estimator
    allClassifiers[x]["params"] = params
    allClassifiers[x]["accuracy"] = accuracy
    allClassifiers[x]["precision"] = precision
    allClassifiers[x]["recall"] = recall
    allClassifiers[x]["f1"] = f1
    allClassifiers[x]["f2"] = f2
    allClassifiers[x]["trainTime"] = trainTime
    allClassifiers[x]["predictTime"] = predictTime


    score = (allClassifiers[x]["f1"] * allClassifiers[x]["precision"] * \
             allClassifiers[x]["recall"] * allClassifiers[x]["accuracy"]) / \
            (allClassifiers[x]["trainTime"] + allClassifiers[x]["predictTime"])

    ## store new score in dictionary
    allClassifiers[x]["my_score"] = score

print "| ", x, " | ", round(score, 4), " | ", round(allClassifiers[x]["accuracy"], 3), " | ", round(
allClassifiers[x]["precision"], 3), \
" | ", round(allClassifiers[x]["recall"], 3), " | ", round(allClassifiers[x]["f1"], 3), " | ", round(
allClassifiers[x]["f2"], 3), " | ", \
        round(allClassifiers[x]["trainTime"], 3), " | ", round(allClassifiers[x]["predictTime"], 3), " |"

|  NaiveBayes  |  1.1475  |  0.744  |  0.111  |  0.333  |  0.167  |  0.238  |  0.004  |  0.0  |

The following was created using GridSearchCV to get the parameters tested for each method.

In [66]:
for i in allClassifiers:
    if i in ['NaiveBayes', 'SVM', 'AdaBoost', 'RandomForest', 'KMeans', 'DecisionTree', 'LogisticRegression', 'KNeighbors']:
        print allClassifiers[i]["clf"]

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')
SVC(C=1000, cache_size=7000, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.05, verbose=False)
LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=42, solver='liblinear',
          tol=0.0001, verbose=False, warm_start=False)
AdaBoostClassifier(algorithm='SAMME', base_estimator=None, learning_rate=0.2,
          n_estimators=100, random_state=42)
GaussianNB(priors=None, var_smoothing=1e-09)

Next, I will test each classifier to find the best performance

In [67]:
clf = DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=3, min_samples_split=10,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='random')

clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)
print 'F1 score:', f1_score(labels_test, pred)

Accuracy: 0.8974358974358975
Precision:  0.3333333333333333
Recall:  0.3333333333333333
F1 score: 0.3333333333333333

In [68]:
clf = SVC(C=100, cache_size=7000, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='auto_deprecated',
  kernel='poly', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.0001, verbose=False)

clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)
print 'F1 score:', f1_score(labels_test, pred)

Accuracy: 0.8974358974358975
Precision:  0.0
Recall:  0.0
F1 score: 0.0

In [69]:
clf = LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l1', random_state=42, solver='liblinear',
          tol=0.0001, verbose=False, warm_start=False)

clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)
print 'F1 score:', f1_score(labels_test, pred)

Accuracy: 0.8974358974358975
Precision:  0.0
Recall:  0.0
F1 score: 0.0

In [70]:
clf = AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1,
          n_estimators=25, random_state=42)

clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)
print 'F1 score:', f1_score(labels_test, pred)

Accuracy: 0.6153846153846154
Precision:  0.07142857142857142
Recall:  0.3333333333333333
F1 score: 0.11764705882352941

In [71]:
clf = GaussianNB()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)
print 'F1 score:', f1_score(labels_test, pred)

Accuracy: 0.7435897435897436
Precision:  0.1111111111111111
Recall:  0.3333333333333333
F1 score: 0.16666666666666666

DecisionTree displays the best performance, so that is the classifier I will use:

In [72]:
features_list = ['poi', 'exercised_stock_options', 'total_stock_value', 'bonus', 'percent_poi_emails']
data = featureFormat(my_dataset, features_list)
labels, features = targetFeatureSplit(data)

# split data inton training and testing
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)

# choose decision tree
from sklearn.tree import DecisionTreeClassifier
t0 = time()
clf = DecisionTreeClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)

acc = accuracy_score(labels_test, pred)
print 'Accuracy: ' + str(acc)
print 'Precision: ', precision_score(labels_test, pred)
print 'Recall: ', recall_score(labels_test, pred)

Accuracy: 0.8076923076923077
Precision:  0.4
Recall:  0.5

# Validation and Evaluation

In [73]:
import numpy as np

def featureFormat( dictionary, features, remove_NaN=True, remove_all_zeroes=True, remove_any_zeroes=False, sort_keys = False):
    """ convert dictionary to numpy array of features
        remove_NaN = True will convert "NaN" string to 0.0
        remove_all_zeroes = True will omit any data points for which
            all the features you seek are 0.0
        remove_any_zeroes = True will omit any data points for which
            any of the features you seek are 0.0
        sort_keys = True sorts keys by alphabetical order. Setting the value as
            a string opens the corresponding pickle file with a preset key
            order (this is used for Python 3 compatibility, and sort_keys
            should be left as False for the course mini-projects).
        NOTE: first feature is assumed to be 'poi' and is not checked for
            removal for zero or missing values.
    """


    return_list = []

    # Key order - first branch is for Python 3 compatibility on mini-projects,
    # second branch is for compatibility on final project.
    if isinstance(sort_keys, str):
        import pickle
        keys = pickle.load(open(sort_keys, "rb"))
    elif sort_keys:
        keys = sorted(dictionary.keys())
    else:
        keys = dictionary.keys()

    for key in keys:
        tmp_list = []
        for feature in features:
            try:
                dictionary[key][feature]
            except KeyError:
                print("error: key ", feature, " not present")
                return
            value = dictionary[key][feature]
            if value=="NaN" and remove_NaN:
                value = 0
            tmp_list.append( float(value) )

        # Logic for deciding whether or not to add the data point.
        append = True
        # exclude 'poi' class as criteria.
        if features[0] == 'poi':
            test_list = tmp_list[1:]
        else:
            test_list = tmp_list
        ### if all features are zero and you want to remove
        ### data points that are all zero, do that here
        if remove_all_zeroes:
            append = False
            for item in test_list:
                if item != 0 and item != "NaN":
                    append = True
                    break
        ### if any features for a given data point are zero
        ### and you want to remove data points with any zeroes,
        ### handle that here
        if remove_any_zeroes:
            if 0 in test_list or "NaN" in test_list:
                append = False
        ### Append the data point if flagged for addition.
        if append:
            return_list.append( np.array(tmp_list) )

    return np.array(return_list)


def targetFeatureSplit( data ):
    """ 
        given a numpy array like the one returned from
        featureFormat, separate out the first feature
        and put it into its own list (this should be the 
        quantity you want to predict)

        return targets and features as separate lists

        (sklearn can generally handle both lists and numpy arrays as 
        input formats when training/predicting)
    """

    target = []
    features = []
    for item in data:
        target.append( item[0] )
        features.append( item[1:] )

    return target, features

In [74]:
import pickle
import sys
from sklearn.model_selection import StratifiedShuffleSplit
sys.path.append("C:\\Users\\josep\\ud120-projects_modified for 3\\tools\\")
from feature_format import featureFormat, targetFeatureSplit

PERF_FORMAT_STRING = "\
\tAccuracy: {:>0.{display_precision}f}\tPrecision: {:>0.{display_precision}f}\t\
Recall: {:>0.{display_precision}f}\tF1: {:>0.{display_precision}f}\tF2: {:>0.{display_precision}f}"
RESULTS_FORMAT_STRING = "\tTotal predictions: {:4d}\tTrue positives: {:4d}\tFalse positives: {:4d}\
\tFalse negatives: {:4d}\tTrue negatives: {:4d}"

In [75]:
def test_classifier(clf, dataset, feature_list, folds = 1000):
    data = featureFormat(dataset, feature_list, sort_keys = True)
    labels, features = targetFeatureSplit(data)
    cv = StratifiedShuffleSplit(n_splits=folds, random_state=42)
    true_negatives = 0
    false_negatives = 0
    true_positives = 0
    false_positives = 0
    for train_idx, test_idx in cv.split(features, labels):  
        features_train = []
        features_test  = []
        labels_train   = []
        labels_test    = []
        for ii in train_idx:
            features_train.append( features[ii] )
            labels_train.append( labels[ii] )
        for jj in test_idx:
            features_test.append( features[jj] )
            labels_test.append( labels[jj] )
        
        ### fit the classifier using training set, and test on test set
        clf.fit(features_train, labels_train)
        predictions = clf.predict(features_test)
        for prediction, truth in zip(predictions, labels_test):
            if prediction == 0 and truth == 0:
                true_negatives += 1
            elif prediction == 0 and truth == 1:
                false_negatives += 1
            elif prediction == 1 and truth == 0:
                false_positives += 1
            elif prediction == 1 and truth == 1:
                true_positives += 1
            else:
                print "Warning: Found a predicted label not == 0 or 1."
                print "All predictions should take value 0 or 1."
                print "Evaluating performance for processed predictions:"
                break
    try:
        total_predictions = true_negatives + false_negatives + false_positives + true_positives
        accuracy = 1.0*(true_positives + true_negatives)/total_predictions
        precision = 1.0*true_positives/(true_positives+false_positives)
        recall = 1.0*true_positives/(true_positives+false_negatives)
        f1 = 2.0 * true_positives/(2*true_positives + false_positives+false_negatives)
        f2 = (1+2.0*2.0) * precision*recall/(4*precision + recall)
        print clf
        print PERF_FORMAT_STRING.format(accuracy, precision, recall, f1, f2, display_precision = 5)
        print RESULTS_FORMAT_STRING.format(total_predictions, true_positives, false_positives, false_negatives, true_negatives)
        print ""
    except:
        print "Got a divide by zero when trying out:", clf
        print "Precision or recall may be undefined due to a lack of true positive predicitons."

In [76]:
CLF_PICKLE_FILENAME = "my_classifier.pkl"
DATASET_PICKLE_FILENAME = "my_dataset.pkl"
FEATURE_LIST_FILENAME = "my_feature_list.pkl"

In [77]:
def dump_classifier_and_data(clf, dataset, feature_list):
    with open(CLF_PICKLE_FILENAME, "w") as clf_outfile:
        pickle.dump(clf, clf_outfile)
    with open(DATASET_PICKLE_FILENAME, "w") as dataset_outfile:
        pickle.dump(dataset, dataset_outfile)
    with open(FEATURE_LIST_FILENAME, "w") as featurelist_outfile:
        pickle.dump(feature_list, featurelist_outfile)

In [78]:
dump_classifier_and_data(clf, my_dataset, features_list)

In [79]:
def load_classifier_and_data():
    with open(CLF_PICKLE_FILENAME, "r") as clf_infile:
        clf = pickle.load(clf_infile)
    with open(DATASET_PICKLE_FILENAME, "r") as dataset_infile:
        dataset = pickle.load(dataset_infile)
    with open(FEATURE_LIST_FILENAME, "r") as featurelist_infile:
        feature_list = pickle.load(featurelist_infile)
    return clf, dataset, feature_list

In [80]:
def main():
    ### load up student's classifier, dataset, and feature_list
    clf, dataset, feature_list = load_classifier_and_data()
    ### Run testing script
    test_classifier(clf, dataset, feature_list)

In [81]:
if __name__ == '__main__':
    main()

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
	Accuracy: 0.78469	Precision: 0.30560	Recall: 0.31400	F1: 0.30974	F2: 0.31228
	Total predictions: 13000	True positives:  628	False positives: 1427	False negatives: 1372	True negatives: 9573